<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2018 Google LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->

<!-- ATTENTION: Needs to duplicate entire manifest to instant due to manifest merging issues. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.google.samples.apps.iosched"
    android:targetSandboxVersion="2">
    <!-- targetSandBoxVersion="2" is a requirement for instant apps. -->

    <!-- Declare this module to be served as an instant app. -->
    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.LauncherActivity"
            android:theme="@style/AppTheme.Launcher">
            <!-- This will have to be placed wherever the activity-alias is linking to. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- URL handling and instant app auto-verification. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="adssched.firebaseapp.com" />
                <data android:path="/dev-summit" />
                <data android:path="/dev-summit/" />
                <data android:path="/dev-summit/schedule" />
                <data android:path="/dev-summit/schedule/" />
            </intent-filter>
            <meta-data
                android:name="default-url"
                android:value="https://adssched.firebaseapp.com/dev-summit" />
         </activity>

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >

            <!-- Added to handle deep links -->
            <nav-graph android:value="@navigation/nav_schedule" />
        </activity>

        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:theme="@style/AppTheme.Onboarding" />

        <!-- By default, these are not exported since they do not have an intent filter.
         However, explicitly saying exported="false" to communicate that these are not for
         other apps to call -->
        <receiver
            android:name=".shared.notifications.AlarmBroadcastReceiver"
            android:exported="false" />
        <receiver
            android:name=".shared.notifications.CancelNotificationBroadcastReceiver"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsEnabled}" />

        <!-- https://developers.google.com/maps/documentation/android-sdk/config#specify_requirement_for_apache_http_legacy_library -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

    </application>
</manifest>
