<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2018 Google LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.samples.apps.iosched">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.LauncherActivity"
            android:theme="@style/AppTheme.Launcher" />

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:theme="@style/AppTheme.Onboarding" />

        <activity
            android:name=".ui.sessiondetail.SessionDetailActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.SessionDetails" />

        <activity
            android:name=".ui.speaker.SpeakerActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.Speaker" />

        <activity
            android:name=".ui.map.MapActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- This activity alias lets us change the main entry point without breaking launcher
             shortcuts. DO NOT change its android:name attribute. -->
        <activity-alias
            android:name=".Launcher"
            android:label="@string/app_name"
            android:targetActivity=".ui.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsEnabled}" />

    </application>

</manifest>
