<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2016 Google Inc.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
  in compliance with the License. You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software distributed under the License
  is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
  or implied. See the License for the specific language governing permissions and limitations under
  the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.google.samples.apps.iosched">

    <!-- Manifest for the Map Editor build flavor.
    Compared to the default AndroidManifest, here we only declare the map editor activity and
    a different bootstrap service (that refreshes all data from an external file at every start up).

    See the /doc/MAP.md readme file for further details. -->

    <application
            android:name=".AppApplication"
            android:label="@string/mapeditor_label"
            tools:replace="label">

        <!-- Activities -->
        <activity android:name=".map.MapEditorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Remove the default launcher and only use the MapEditorActivity -->
        <activity
                android:name=".explore.ExploreIOActivity">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- An IntentService responsible for bootstrapping the app with the necessary
    data such as session, speakers, etc. -->
        <service
                android:name=".service.LocalRefreshingBootstrapService"
                android:exported="false"/>


    </application>

    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            tools:remove="maxSdkVersion"/>
</manifest>