html, body {
  margin: 0;
  font-family: 'Open Sans Regular', sans;
  color: #666;
  background: #fafafa;
}

body.waiting {
  cursor: wait;
}

.waiting #signin, .waiting #logout, .waiting #user_info textarea,
.waiting #savedata, .waiting #loaddata {
  background: -webkit-linear-gradient(top, #dcdcdc 0, #fafafa 100%);
  color: #999;
  text-shadow: 1px 1px 1px #fafafa;
  border: 1px solid #ddd;
  cursor: auto;
}

.header {
  text-align: center;
  padding: 10px 0 10px 0;
}

.header hr {
  height: 6px;
  border: none;
  margin-top: 20px;
  background: -webkit-linear-gradient(0deg,
    rgb(51,105,232) 0%,
    rgb(51,105,232) 25%,
    rgb(222,30,37) 25%,
    rgb(222,30,37) 50%,
    rgb(255, 210, 0) 50%,
    rgb(255, 210, 0) 75%,
    rgb(76,187,71) 75%,
    rgb(76,187,71) 100%
    );
 }

.header .links * {
  margin-left: 5px;
}

.header .links a {
  color: #666;
}

.header:hover .links a {
  color: #3399cc;
}

.flows h2 {
  margin-left: 5px;
  margin-bottom: 10px;
}

.flow {
  margin: 10px 20px 20px 20px;
  border: 1px solid #ddd;
  padding: 8px;
  background: white;
}

.flow button {
  cursor: pointer;
  background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
  border: 1px solid #076bd2;
  text-shadow: 1px 1px 1px #076bd2;
  color: white;
  font-weight: 700;
  font-size: 13px;
  margin: .5em 0 1em;
  padding: 8px 17px 8px 17px;
  border-radius: 3px;
}

.flow button.error {
  background: -webkit-linear-gradient(top,#D61010 0,#C41919 100%);
  border: 1px solid #D20707;
  text-shadow: 1px 1px 1px #D20707;
  color: white;
  font-weight: 700;
  font-size: 13px;
  margin: .5em 0 1em;
  padding: 8px 17px 8px 17px;
  border-radius: 3px;
}

.flow button:disabled {
  background: -webkit-linear-gradient(top, #dcdcdc 0, #fafafa 100%);
  color: #999;
  text-shadow: 1px 1px 1px #fafafa;
  border: 1px solid #ddd;
  cursor: auto;
}

.log {
  margin: 10px 20px 20px 20px;
}

#user_info {
  padding: 20px 20px 10px 20px;
}

#user_info textarea:disabled {
  background: #dadada;
}
#user_info textarea {
  width: 100%;
  display: block;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  background: #FFFAE7;
  color: #333333;
  border: 1px solid #333333;
}

textarea {
  width: 100%;
  min-height: 200px;
  font-family: "Courier New", Courier, monospace;
  margin: 2px;
  background: #FFFFFF;
  color: #727272;
  border: 1px solid rgb(182, 182, 182);
}
