<!--
  Copyright 2014 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.samples.apps.iosched"
    android:versionCode="223"
    android:versionName="2.2.3"
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <permission
        android:name="com.google.samples.apps.iosched.permission.WRITE_SCHEDULE"
        android:protectionLevel="normal"
        android:label="@string/permission_write"
        android:description="@string/permission_write" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.NFC" />
    <!-- required for YouTube -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- required for Calendar API in Android 4.0 or above -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- required for setIsSyncable -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- required for GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
            android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
            android:name="com.google.samples.apps.iosched.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />
    <uses-permission
            android:name="com.google.samples.apps.iosched.permission.C2D_MESSAGE" />

    <!-- required for MapView v2 -->
    <permission
        android:name="com.google.samples.apps.iosched.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.google.samples.apps.iosched.permission.MAPS_RECEIVE"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <!-- Required for BLE -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature
	    android:name="android.hardware.bluetooth_le"
	    android:required="false"/>

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:logo="@drawable/actionbar_logo"
        android:theme="@style/Theme.IOSched"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- MapView v2 API -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_api_key" />

        <!-- Activities for both phones and tablets -->

        <activity
            android:name=".ui.MyScheduleActivity"
            android:label="@string/title_my_schedule"
            android:theme="@style/Theme.IOSched.MySchedule"
            android:launchMode="singleTop"/>

        <activity
            android:name=".ui.SocialActivity"
            android:label="@string/navdrawer_item_social"
            android:theme="@style/Theme.IOSched.Social" />

        <activity android:name=".ui.SessionLivestreamActivity"
            android:label="@string/session_livestream_title"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.IOSched.Livestream"
            android:parentActivityName=".ui.MyScheduleActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".ui.MyScheduleActivity" />

        <activity
            android:name=".ui.NfcBadgeActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="@string/app_name"
            android:noHistory="true"
            android:launchMode="singleTask">
            <intent-filter android:priority="-999">
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" android:host="plus.google.com" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.BrowseSessionsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.IOSched.Sessions"
            android:parentActivityName=".ui.MyScheduleActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.iosched2014.session" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.SearchActivity"
            android:label="@string/title_search"
            android:theme="@style/Theme.IOSched.Search"
            android:parentActivityName=".ui.BrowseSessionsActivity">

            <!-- This Activity handles the search intent -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".ui.SessionFeedbackActivity"
            android:label="@string/title_session_feedback">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.iosched2014.session_feedback" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.WelcomeActivity" android:theme="@style/Theme.IOSched.Welcome" />

        <activity android:name=".ui.VideoLibraryActivity"
            android:theme="@style/Theme.IOSched.VideoLibrary"
            android:label="@string/title_video_library"
        />

        <activity android:name=".ui.SessionDetailActivity"
            android:label="@string/title_session_detail"
            android:theme="@style/Theme.IOSched.SessionDetails"
            android:parentActivityName=".ui.BrowseSessionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.iosched2014.session" />
            </intent-filter>
            <!-- Android Beam for session details -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.iosched2014.session" />
            </intent-filter>
            <!-- Web URLs -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                    android:host="www.google.com"
                    android:pathPrefix="/events/io/schedule/session/" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.NearbyEulaActivity"
            android:theme="@style/Theme.IOSched.Welcome" />

        <!-- Phone-only activities -->
        <activity
            android:name=".ui.phone.MapActivity"
            android:label="@string/title_map"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.IOSched.Map">
            <meta-data android:name="com.google.samples.apps.iosched.meta.TARGET_FORM_FACTOR"
                android:value="handset" />
        </activity>

        <!-- Tablet-only activities -->
        <activity
            android:name=".ui.tablet.MapMultiPaneActivity"
            android:label="@string/title_map"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.IOSched.Map">
            <meta-data android:name="com.google.samples.apps.iosched.meta.TARGET_FORM_FACTOR"
                android:value="tablet" />
        </activity>

        <!-- TaskStackBuilder proxy activity for widgets and notifications. -->

        <activity
            android:name=".ui.TaskStackBuilderProxyActivity"
            android:theme="@android:style/Theme.NoDisplay" />

        <activity
            android:name=".ui.debug.DebugActionRunnerActivity"
            android:label="@string/title_activity_debug_test_runner"
            android:parentActivityName=".ui.MyScheduleActivity" />

        <!-- Experts directory -->
        <activity android:name=".ui.ExpertsDirectoryActivity"
            android:label="@string/title_experts_directory"
            android:theme="@style/Theme.IOSched.ExpertsDirectory"/>

        <activity
            android:name=".ui.debug.actions.ViewFilesInAppFolderActivity"
            android:label="list files in appdata folder"
            android:parentActivityName="com.google.samples.apps.iosched.ui.debug.DebugActionRunnerActivity" >
        </activity>

        <!-- People I've Met -->
        <activity android:name=".ui.PeopleIveMetActivity"
            android:label="@string/title_people_ive_met"
            android:theme="@style/Theme.IOSched.PeopleIveMet"/>

	    <!-- Session alarm/calendar integrating components. -->
        <receiver android:name=".receiver.SessionAlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.google.samples.apps.iosched.action.UPDATE_CALENDAR_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".service.SessionAlarmService" />

        <service android:name=".service.SessionCalendarService" />

        <!-- Used for install referral measurement-->
        <service android:name="com.google.analytics.tracking.android.CampaignTrackingService" />
        <receiver
            android:name="com.google.analytics.tracking.android.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!--
          BroadcastReceiver that will receive the C2DM messages from GCM
          services and handle them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver android:name=".gcm.GCMRedirectedBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.google.samples.apps.iosched" />
            </intent-filter>
        </receiver>

        <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.

          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.
        -->
        <service android:name=".gcm.GCMIntentService" />

        <!-- Data, sync and schedule editing components -->

        <provider
            android:name=".provider.ScheduleProvider"
            android:authorities="com.google.samples.apps.iosched"
            android:writePermission="com.google.samples.apps.iosched.permission.WRITE_SCHEDULE"
            android:syncable="true"
            android:label="@string/app_name"
            android:exported="true" />

        <service android:name=".sync.SyncService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!-- a simple receiver that triggers a sync for any message it receives. used by our
             GCM implementation -->
        <receiver android:name=".sync.TriggerSyncReceiver" />

        <!-- Other manifest items -->

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.BrowseSessionsActivity" />

        <!-- App widget components -->

        <receiver android:name=".appwidget.ScheduleWidgetProvider"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- This specifies the widget provider info -->
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>

        <!-- The service serving the RemoteViews to the collection widget -->

        <service android:name=".appwidget.ScheduleWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false"
            android:enabled="true" />

        <!-- The service listening for incoming messages from the wear device -->
        <service android:name=".service.FeedbackListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

    </application>
</manifest>
