<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
   Copyright 2014 Google Inc. All rights reserved.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<web-app
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
  <display-name>IOSched updater</display-name>

  <!-- ////////////////////////////////// Schedule Updater ////////////////////////////////// -->

    <servlet>
        <servlet-name>logData</servlet-name>
        <servlet-class>com.google.samples.apps.iosched.server.schedule.server.servlet.LogDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logData</servlet-name>
        <url-pattern>/admin/schedule/log_data</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>runupdate</servlet-name>
        <servlet-class>com.google.samples.apps.iosched.server.schedule.server.servlet.RunUpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>runupdate</servlet-name>
        <url-pattern>/admin/schedule/runupdate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cmsupdate</servlet-name>
        <servlet-class>com.google.samples.apps.iosched.server.schedule.server.servlet.CMSUpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cmsupdate</servlet-name>
        <url-pattern>/admin/schedule/cmsupdate</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- ////////////////////////////////// GCM Support ////////////////////////////////// -->
    <!-- Objectify support -->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- context initializer -->
    <listener>
        <listener-class>
            com.google.samples.apps.iosched.server.gcm.db.ApiKeyInitializer
        </listener-class>
    </listener>

    <!-- inbound device endpoints -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>
            com.google.samples.apps.iosched.server.gcm.device.RegisterServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/gcm/register/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UnregisterServlet</servlet-name>
        <servlet-class>
            com.google.samples.apps.iosched.server.gcm.device.UnregisterServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnregisterServlet</servlet-name>
        <url-pattern>/gcm/unregister/*</url-pattern>
    </servlet-mapping>

    <!-- outbound device endpoints -->
    <servlet>
        <servlet-name>MulticastQueueWorker</servlet-name>
        <servlet-class>
            com.google.samples.apps.iosched.server.gcm.device.MulticastQueueWorker
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MulticastQueueWorker</servlet-name>
        <url-pattern>/queue/send</url-pattern>
    </servlet-mapping>

    <!-- API endpoints -->
    <servlet>
        <servlet-name>SendMessageServlet</servlet-name>
        <servlet-class>
            com.google.samples.apps.iosched.server.gcm.api.SendMessageServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessageServlet</servlet-name>
        <url-pattern>/gcm/send/*</url-pattern>
    </servlet-mapping>

    <!-- admin-facing endpoints -->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>
            com.google.samples.apps.iosched.server.gcm.admin.AdminServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/gcm/</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/gcm/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Cron endpoints -->
    <!-- Restricted to admin users only to prevent unauthorized execution. -->
    <servlet>
        <servlet-name>VacuumDbServlet</servlet-name>
        <servlet-class>
            com.google.samples.apps.iosched.server.gcm.cron.VacuumDbServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VacuumDbServlet</servlet-name>
        <url-pattern>/cron/vacuum_db</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- HTTPS requirement -->
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- ////////////////////////////////// Appstats ////////////////////////////////// -->
    <!-- These directives are useful for dev purposes, but are best left disabled in prod. -->
    <!--<filter>-->
        <!--<filter-name>appstats</filter-name>-->
        <!--<filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>appstats</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>appstats</servlet-name>-->
        <!--<servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>appstats</servlet-name>-->
        <!--<url-pattern>/appstats/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>appstats</web-resource-name>-->
            <!--<url-pattern>/appstats/*</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<auth-constraint>-->
            <!--<role-name>admin</role-name>-->
        <!--</auth-constraint>-->
    <!--</security-constraint>-->
</web-app>
