
body {
  background-color: #E7E7E7;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body, html {
}

#board {
  flex: 5 1;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: calc( 100% - 30px );
  margin: 15px;
  box-shadow: 0 0 10px #666;
  flex-wrap: wrap;
}

#template {
  display: none;
}

.cell:hover {
  background-color: rgb(228, 231, 255);
}
.cell {
  flex: 1 1;
  border: 1px solid #ddd;
  min-width: 200px;
  text-align: center;
  align-self: flex-end;
  background-repeat: no-repeat;
  min-height: 200px;
  align-content: flex-end;
  align-items: flex-end;
  background-size: contain;
  position: relative;
  background-position: top center;
}

.cell .meta {
  background: rgba(240, 240, 240, 0.9);
  color: rgb(124, 124, 124);
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: calc( 100% - 10px );
  padding: 5px 5px;
}
.cell .meta a {
  color: rgb(108, 108, 219);
  text-decoration: none;
}
.cell .meta .title {
  color: black;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
}

#board {
  opacity: 1;
}
body.showDialog #board {
  opacity: 0.5;
}

body.showDialog #centerpoint {
  display: block;
}
#centerpoint {
  display: none;
  left: 50%;
  position: absolute;
}

#dialog {
  position: relative;

  width: 600px;
  margin-left: -300px;

  height: 400px;
  margin-top: -200px;

  background-color: #eeeeee;
  z-index: 100;
  box-shadow: 0 0 15px #666666;
  padding: 10px;
}

.source {
  margin: 0;
  background: white;
  border: 1px solid #999999;
  height: 100%;
  overflow-y: auto;
}
